# core {{{
[core]
	editor = code --wait
#}}}

# user {{{
[user]
	name = ChaninL
	email = chaninlawlert@gmail.com
#}}}

# alias {{{
[alias]
  # git add
    a = add
    aa = add -all
  # git branch
    b = branch
  # git commit
    cm = commit -m
    cma = "!f() { git add -A && git commit -m \"$@\"; }; f"
    cmp = "!f() { git add -A && git commit -m \"$@\" && git push }; f"
    cmpu = "!f() { git add -A && git commit -m \"$@\" && git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\"; }; f"
  # git fetch
    f = fetch
    fp = fetch --prune
    fsw = "!f() { git fetch && git switch \"$@\"; }; f"
  #git log
    l = log --pretty='%C(yellow)%h %C(cyan)%cd %C(blue)%aN %C(auto)%d %Creset%s' --graph --date=short --date-order
    # ll = log --pretty=format:'%h %cd %aN %d %s' --numstat --date=short --date-order
    ll = log --pretty=format:'%C(yellow)%h %C(cyan)%cd %C(blue)%aN %C(auto)%d %C(reset)%s' --numstat --date=short --date-order
  #git rebase
    rbi = rebase -i
  #git status
    st = status
  #git switch
    sw = switch
  #git pull
    po = pull origin
  # undo
    undo = reset --soft HEAD^
# }}}

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[init]
	defaultBranch = main
[pull]
  rebase = false
